module.exports = {
  BOT_TOKEN: "BOT_TOKEN",
  CHANNEL_ID: "CHANNEL_ID",
  AUTHOR_1: "ID_OF_FIRST_USER",
  TOKEN_1: "TOKEN_OF_FIRST_USER",
  AUTHOR_2: "ID_OF_SECOND_USER",
  TOKEN_2: "TOKEN_OF_SECOND_USER",
  MULTIPLE_ACCOUNTS: false,
  WAIT_TIME: 1, // in seconds
}